@model IEnumerable<ViveirosID.Models.Artigos>

@{
    ViewBag.Title = "Viveiros Zêzere";
}
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Viveiros Zêzere</h1>
        <p>A Viveiros Zêzere apresenta agora este site para se representar a si mesma na internet. Divulgar os seus produtos e cativar novos clientes.</p>
        <p>
            <a class="btn btn-primary btn-large">Call to action!</a>
        </p>
    </header>
    <hr>
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->
<!-- /.row -->

@foreach (var item in Model)
{
    var nome = "/Images/" + item.nome + " 1.jpeg";
    var href_add = "http://localhost:64855/Artigos/Details/" + item.ArtigoID;
    var href_det = "http://localhost:64855/Artigos/Details/" + item.ArtigoID;

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="@nome" alt="@item.nome">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.nome)</h3>
                    <p>@Html.DisplayFor(modelItem => item.descricao)</p>
                    <p>
                        <a href="@href_add" class="btn btn-primary">Adicionar!</a> <a href="@href_det" class="btn btn-default">Detalhes</a>
                    </p>
                </div>
            </div>
        </div>
}


    