@model IEnumerable<ViveirosID.Models.Compras>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Metodoentrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metodopagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precototal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Metodoentrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metodopagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precototal)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
            @Html.ActionLink("Edit", "Edit", new { id = item.CompraID })} |
            @Html.ActionLink("Details", "Details", new { id=item.CompraID }) |
            @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
            @Html.ActionLink("Delete", "Delete", new { id = item.CompraID })}
        </td>
    </tr>
}

</table>
