@model ViveirosID.Models.Artigos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Artigos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nometecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nometecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantacaoComeca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantacaoComeca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantacaoAcaba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantacaoAcaba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crescimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crescimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
