@model ViveirosID.Models.ProdutoDetalhesViewModel

@{
    ViewBag.Title = "Detalhes";
    //Variavel auxiliar para determinar a directoria do ficheiro
    var fonte_imagem = Model.Imagens.FirstOrDefault().Directorio;
    //var compare = fonte_imagem.Compare();
}

@using (Html.BeginForm("Adiciona","Artigos", new { id = Model.Artigo.ArtigoID } , FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">@Model.Categoria.Tipo</p>
            <div class="list-group">
                @foreach (var item in Model.Artigos)
                {
                    if (item.ArtigoID == Model.Artigo.ArtigoID)
                    {
                        <a href="/Artigos/Details/@item.ArtigoID" class="list-group-item active">@item.Nome</a>
                    }
                    else
                    {
                        <a href="/Artigos/Details/@item.ArtigoID" class="list-group-item">@item.Nome</a>
                    }
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="@fonte_imagem" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">@Model.Artigo.Preco $</h4>
                    <h4>
                         @Model.Artigo.Nome
                    </h4>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Nometecnico)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Nometecnico)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Disponibilidade)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Disponibilidade)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Descricao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Descricao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.PlantacaoComeca)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.PlantacaoComeca)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.PlantacaoAcaba)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.PlantacaoAcaba)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Peso)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Peso)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Crescimento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Crescimento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Luz)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Luz)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Rega)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Rega)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Artigo.Preco)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Artigo.Preco) $
                        </dd>

                    </dl>

                    <button type="submit" class="btn btn-primary">Adicionar</button>

                    @*<input type="hidden" class="form-control" id="id" value="@Model.Artigo.ArtigoID">*@
                
                    <input type="text" class="form-control" name="id2" value="1">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
}


<p>
    @if (User.IsInRole("Administrador"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Artigo.ArtigoID })
        @Html.ActionLink("Voltar a Lista de Artigos", "Index")
    }
    else
    {
        @Html.ActionLink("Voltar a Lista de Artigos", "Index")
    }
    
</p>


