@model ViveirosID.Models.Artigos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artigos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nometecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nometecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plantacaoComeca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plantacaoComeca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plantacaoAcaba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plantacaoAcaba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crescimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crescimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preço)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtigoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
