@model IEnumerable<ViveirosID.Models.Artigos>

@{
    ViewBag.Title = "Artigos";
}

<h2>Artigos</h2>

<a class="btn btn-success" href="/Artigos/MaisProcurados/">
    <span class="glyphicon glyphicon-star"></span> Mais Procurados
</a>
<br />
@if (User.IsInRole("Administrador") || User.IsInRole("Profissional"))
{
    <a class="btn btn-success" href="/Artigos/MaisProcurados/">
        <span class="glyphicon glyphicon-asterisk"></span> Criar Novo
    </a>
}
    @*<p>

            @using (Html.BeginForm()) {

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <button>Calculate</button>
                    Descendente:   @Html.RadioButton("Ordem", "Descendente", new { ordem = "true" })
                    Ascendente:    @Html.RadioButton("Ordem", "Ascendente", new { ordem = "false" })
                </div>
            }
        </p>*@

    @for (int i = 0; i < Model.Count(); i += 3)
    {
        <div class="row">
            @foreach (var item in Model.Skip(i).Take(3))
            {
                var Nome = "/Images/" + item.Nome + "_1.jpeg";
                @*
                <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" src="@Nome" alt="">
                    <b> @Html.DisplayFor(modelItem => item.Nome)  </b>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ArtigoID }) <b>  </b> 
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ArtigoID }) 
                    }
                    else if(Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ArtigoID }) <b>  </b>
                        @Html.ActionLink("Adiciona", "Adiciona", new { id = item.ArtigoID, id2 = "artigo" })
                    }
                </div>
                *@
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="@Nome" alt="@item.Nome">
                        <div class="caption">
                            <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                            <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                            <p>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="/Artigos/Adiciona/@item.ArtigoID/1" class="btn btn-primary">Adicionar</a>
                                    <a href="/Artigos/Details/@item.ArtigoID/" class="btn btn-primary">Detalhes</a>
                                }
                                else
                                {
                                    @Html.ActionLink("Adiciona", "Login", new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Detalhes", "Login", new { @class = "btn btn-primary" })
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }


    @*<td>
                @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ArtigoID })} |
                    @Html.ActionLink("Details", "Details", new { id=item.ArtigoID
               }) |
               @if (Request.IsAuthenticated) {
                    @Html.ActionLink("Details", "Details", new { id = item.ArtigoID })}|
                    @Html.ActionLink("Adiciona", "Adiciona", new { id=item.ArtigoID, id2="artigo"
               })
            </td>
        </tr>*@




