@model IEnumerable<ViveirosID.Models.Artigos>
@{
    ViewBag.Title = "Mais Procurados";
}

<h2>Mais Procurados</h2>
@if (Request.IsAuthenticated) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    @*<p>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <button>Calculate</button>
                    Descendente:   @Html.RadioButton("Ordem", "Descendente", new { ordem = "true" })
                    Ascendente:    @Html.RadioButton("Ordem", "Ascendente", new { ordem = "false" })
                </div>
            }
        </p>*@
    <table class="table">
        <tr>
            <th>
                Tipo
                <a href="@Url.Action("Index", new { filtro = "Tipo", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Tipo", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Nome
                <a href="@Url.Action("Index", new { filtro = "Nome", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Nome", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Nome tecnico
                <a href="@Url.Action("Index", new { filtro = "Nome tecnico", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Nome tecnico", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Disponibilidade
                <a href="@Url.Action("Index", new { filtro = "Disponibilidade", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Disponibilidade", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Descricao
                <a href="@Url.Action("Index", new { filtro = "Descricao", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Descricao", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                plantacao comeca
                <a href="@Url.Action("Index", new { filtro = "plantacao comeca", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "plantacao comeca", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                plantacao acaba
                <a href="@Url.Action("Index", new { filtro = "plantacao acaba", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "plantacao acaba", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Peso
                <a href="@Url.Action("Index", new { filtro = "Peso", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Peso", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Crescimento
                <a href="@Url.Action("Index", new { filtro = "Crescimento", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Crescimento", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Luz
                <a href="@Url.Action("Index", new { filtro = "Luz", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Luz", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Rega
                <a href="@Url.Action("Index", new { filtro = "Rega", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Rega", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th>
                Preco
                <a href="@Url.Action("Index", new { filtro = "Preco", ordem = "descendente"})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Index", new { filtro = "Preco", ordem = "ascendente"})"><span class="glyphicon glyphicon-minus-sign"></span></a>
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nometecnico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibilidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantacaoComeca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantacaoAcaba)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crescimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Luz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ArtigoID })} |
                    @Html.ActionLink("Details", "Details", new { id = item.ArtigoID }) |
                    @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ArtigoID })}|
                    @Html.ActionLink("Adiciona", "Adiciona", new { id = item.ArtigoID })
                </td>
            </tr>
        }
    </table>
