@model IEnumerable<ViveirosID.Models.Artigos>

@{
    ViewBag.Title = "Pesquisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pesquisa</h2>

<p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <table style="border:1px solid">
                <tr>
                    <td style="width:400px">
                        <!-- INPUT PARA PALAVRAS A PESQUISAR-->
                        Pesquisar:     <input type="text" name="nome"><br>
                    </td>
                    <td style="width:400px">
                        <!-- INPUT PARA PESO -->
                        <label for="peso">Peso:</label>
                        <div id="slider-peso" style="width:300px"></div>
                        <div id="peso-div"></div>
                        <input type="text" id="peso-in" name="peso" style="width:300px; display:none" readonly />
                    </td>
                    <td style="width:400px">
                        <!-- INPUT PARA PREcO -->
                        <label for="preco">Preco: </label>
                        <div id="slider-preco" style="width:300px"></div>
                        <div id="preco-div"></div>
                        <input type="text" id="preco-in" name="preco" style="width:300px; display:none" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width:400px">
                        <!-- INPUT PARA crescimento-->
                        <label for="crescimento" >crescimento: </label>
                        <div id="slider-crescimento" style="width:300px"></div>
                        <div id="crescimento-div"></div>
                        <input type="text" id="crescimento-in" name="crescimento" style="width:300px; display:none" readonly />
                    </td>
                    <td style="width:400px">
                        <!-- INPUT PARA luz-->
                        <label for="luz" >luz: </label>
                        <div id="slider-luz" style="width:300px"></div>
                        <div id="luz-div"></div>
                        <input type="text" id="luz-in" name="luz" style="width:300px; display:none" readonly />
                    </td>
                    <td style="width:400px">
                        <!-- INPUT PARA rega-->
                        <label for="rega">rega: </label>
                        <div id="slider-rega" style="width:300px"></div>
                        <div id="rega-div" ></div>
                        <input type="text" id="rega-in" name="rega" style="width:300px; display:none" readonly />
                    </td>
                </tr>
            </table>
           
            <button>Pesquisa</button>
        </div>
    }

    <table class="table">
        <tr>
            <th>
                tipo
            </th>
            <th>
                nome
            </th>
            <th>
                nome tecnico
            </th>
            <th>
                disponibilidade
            </th>
            <th>
                descricao
            </th>
            <th>
                plantacao comeca
            </th>
            <th>
                plantacao acaba
            </th>
            <th>
                peso
            </th>
            <th>
                crescimento
            </th>
            <th>
                luz
            </th>
            <th>
                rega
            </th>
            <th>
                preco
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nometecnico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.disponibilidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plantacaoComeca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plantacaoAcaba)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.crescimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.luz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>

                <td>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ArtigoID })} |
                    @Html.ActionLink("Details", "Details", new { id = item.ArtigoID }) |
                    @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ArtigoID })}|
                    @Html.ActionLink("Adiciona", "Adiciona", new { id = item.ArtigoID })
                </td>
            </tr>
        }

    </table>