<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    
    <script type="text/javascript">
        $(document).ready(function () {

            @{
                var primeiro_preço = ViewBag.primeiro_preço;
                var ultimo_preço = ViewBag.ultimo_preço;
                var primeiro_peso = ViewBag.primeiro_peso;
                var ultimo_peso = ViewBag.ultimo_peso;
            }

            var primeiro_peso_jq = @ViewBag.primeiro_peso;
            var ultimo_peso_jq = @ViewBag.ultimo_peso;
            var primeiro_preço_jq = @ViewBag.primeiro_preço;
            var ultimo_preço_jq = @ViewBag.ultimo_preço;

            var crescimento_jq = [];
            var luz_jq = [];
            var rega_jq = [];
            

            @if (@ViewBag.crescimento != null) {
                foreach (var elm in ViewBag.crescimento) {
                    @:crescimento_jq.push("@elm");
                            }
            }

            @if (ViewBag.luz != null) {
                foreach (var elm in ViewBag.luz) {
                    @:luz_jq.push("@elm");
                            }
            }

            @if (ViewBag.rega != null) {
                foreach (var elm in ViewBag.rega) {
                    @:rega_jq.push("@elm");
                            }
            }

            // Slider para selecionar a quantidade de água necessária na rega
            //
            $("#slider-rega").slider({
                range: true,
                min: 0,
                max: rega_jq.length - 1,
                step: 1,
                values: [0, rega_jq.length - 1],
                slide: function (event, ui) {
                    $("#rega").val("de " + rega_jq[ui.values[0]] + " até " + rega_jq[ui.values[1]]);
                }
            });

            // Função para atribuir um valor inicial ao valor a ser escolhido para quantidade de água necessária na rega
            //
            $("#rega").val("de " + rega_jq[$("#slider-rega").slider("values", 0)] +
              " até " + rega_jq[$("#slider-rega").slider("values", 1)]);

            // Slider para selecionar a gama de luzes a serem utilizadas
            //
            $("#slider-luz").slider({
                range: true,
                min: 0,
                max: luz_jq.length - 1,
                step: 1,
                values: [0, luz_jq.length - 1],
                slide: function (event, ui) {
                    $("#luz").val("de " + luz_jq[ui.values[0]] + " até " + luz_jq[ui.values[1]]);
                }
            });

            // Função para atribuir um valor inicial ao valor a ser escolhido para as gamas de luz
            //
            $("#luz").val("de " + luz_jq[$("#slider-luz").slider("values", 0)] +
              " até " + luz_jq[$("#slider-luz").slider("values", 1)]);

            // Slider para selecionar a gama de velocidades de crescimento a pesquisar
            //
            $("#slider-crescimento").slider({
                range: true,
                min: 0,
                max: crescimento_jq.length - 1,
                step: 1,
                values: [0, crescimento_jq.length - 1],
                slide: function (event, ui) {
                    $("#crescimento").val("de " + crescimento_jq[ui.values[0]] + " até " + crescimento_jq[ui.values[1]]);
                }
            });

            // Função para atribuir um valor inicial ao valor a ser escolhido para velocidade de crescimento
            //
            $("#crescimento").val("de " + crescimento_jq[$("#slider-crescimento").slider("values", 0)] +
              " até " + crescimento_jq[$("#slider-crescimento").slider("values", 1)]);

            // Slider para selecionar a gama de pesos a pesquisar
            //
            $("#slider-peso").slider({
                range: true,
                min: primeiro_peso_jq,
                max: ultimo_peso_jq,
                step: ((ultimo_peso_jq -  primeiro_peso_jq) / 50),
                values: [primeiro_peso_jq, ultimo_peso_jq],
                slide: function (event, ui) {
                    $("#peso").val("de " + ui.values[0] + " gramas até " + ui.values[1] + " gramas");
            }
            });

            // Função para atribuir um valor inicial ao valor a ser escolhido para peso
            //
            $("#peso").val("de " + $("#slider-peso").slider("values", 0) +
              " gramas até " + $("#slider-peso").slider("values", 1) + " gramas");

            // Slider para selecionar a gama de preços a pesquisar
            //
            $("#slider-preço").slider({
                range: true,
                min: primeiro_preço_jq,
                max: ultimo_preço_jq,
                step: ((ultimo_preço_jq - primeiro_preço_jq) / 50),
                values: [primeiro_preço_jq, ultimo_preço_jq],
                slide: function (event, ui) {
                    $("#preço").val("de €" + ui.values[0] + " até €" + ui.values[1]);
                }
            });

            // Função para atribuir um valor inicial ao valor a ser escolhido para preço
            //
            $("#preço").val("de €" + $("#slider-preço").slider("values", 0) +
              " até €" + $("#slider-preço").slider("values", 1));
        });
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Viveiros Zêzere", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de Viveiros Zêzere", "About", "Home")</li>
                    <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Artigos", "Index", "Artigos")</li>
                     @if (Request.IsAuthenticated) {
                        <li>@Html.ActionLink("Carrinho","Index","Carrinhos")</li>
                        <li>@Html.ActionLink("Compras", "Index", "Compras")</li>
                         if (User.Identity.Name == "Administrador") {
                             <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                         }
                     }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
