@model ViveirosID.Models.Imagens

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Imagens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artigo.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artigo.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.directorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.directorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ImagemID }) |
    @Html.ActionLink("Apagar", "Delete", new { id = Model.ImagemID}) |
    @Html.ActionLink("Voltar a Lista de Imagens", "Index")
</p>
