@model ViveirosID.Models.Carrinhos

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Carrinhos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precototal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precototal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaAlteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarrinhoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
