@model IQueryable<Viveiros.Models.ListaArtigosCarrinhoViewModel>

@{
    ViewBag.Title = "Index";
    var Preco_todos_pro = 0.0;
    var Preco_todos_total = 0.0;
    var Preco_transporte = 6.0;

    if (Model != null) {
        foreach (var item in Model) {
            Preco_todos_pro += item.Preco_total_prd;
        }
    }

    if (Preco_todos_pro == 0.0) {
        Preco_transporte = 0.0;
    }

    Preco_todos_total = Preco_todos_pro + Preco_transporte;

    var imagens = new ViveirosID.Models.Imagens();
}

<h2>O Seu Carrinho</h2>


@using (Html.BeginForm("Actualiza", "Artigos", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Quantidade</th>
                        <th class="text-center">Preço</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @try
                    {
                        foreach (var item in Model)
                        {
                            var img = "/Images/" + item.Nome + "_1.jpeg";
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="~/Artigos/Details/@item.ArtigoID"> <img class="media-object" src="@img" style="width: 72px; height: 72px;"> </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="~/Artigos/Details/@item.ArtigoID">@item.Nome</a></h4>
                                            <h5 class="media-heading"> Categoria <a href="~/Artigos/Index">@item.Tipo</a></h5>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <input type="text" class="form-control" name="id2" value="@item.Quantidade">
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@item.Preco $</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@item.Preco_total_prd $</strong></td>
                                <td class="col-sm-1 col-md-1">
                                    <button type="submit" class="btn btn-success" href="/Carrinhos/Actualiza/@item.ArtigoID">
                                        <span class="glyphicon glyphicon-refresh"></span> Actualiza
                                    </button>   
                                </td>
                                <td class="col-sm-1 col-md-1">
                                    <a class="btn btn-danger btn-large" href="/Carinhos/Remover/@item.ArtigoID">
                                        <span class="glyphicon glyphicon-remove"></span> Remover
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    catch (Exception ex)
                    {

                    }

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>@Preco_todos_pro $</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Preço Estimado para Transporte</h5></td>
                        <td class="text-right"><h5><strong>@Preco_transporte $</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>@Preco_todos_total $</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a class="btn btn-info btn-large" href="/Artigos/Index">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continuar Compras
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success btn-large" href="/Carrinhos/Transferencia?trans=transferencia">
                                Pagar e Enviar <span class="glyphicon glyphicon-play"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

}