@model ViveirosID.Models.Carrinhos

@{
    ViewBag.Title = "MetodoDePagamento";
}

<h2>MetodoDePagamento</h2>

<div>
    <h4>Carrinhos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precototal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precototal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UltimaAlteracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UltimaAlteracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Pagamento Seguro com Visa, Mastercard e European Solucões", "Visa");
    @Html.ActionLink("Tranferencia Bancaria", "Tranferencia");
    @Html.ActionLink("Dinheiro no Envelope", "Envelope");
    @Html.ActionLink("BitCoin", "BitCoin");
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
