@model ViveirosID.Models.Compras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.metodoentrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metodoentrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metodopagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metodopagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precototal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precototal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
