@model IEnumerable<ViveirosID.Models.Compras>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.metodoentrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metodopagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precototal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.metodoentrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metodopagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precototal)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
            @Html.ActionLink("Edit", "Edit", new { id = item.CompraID })} |
            @Html.ActionLink("Details", "Details", new { id=item.CompraID }) |
            @if (Request.IsAuthenticated && User.IsInRole("Administrador")) {
            @Html.ActionLink("Delete", "Delete", new { id = item.CompraID })}
        </td>
    </tr>
}

</table>
